obj/project.assets.json
obj/WHCC-CaseStudy.csproj.nuget.cache
obj/WHCC-CaseStudy.csproj.nuget.dgspec.json
obj/WHCC-CaseStudy.csproj.nuget.g.props
obj/WHCC-CaseStudy.csproj.nuget.g.targets
obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
obj/Debug/netcoreapp2.2/WHCC-CaseStudy.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/WHCC-CaseStudy.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/WHCC-CaseStudy.assets.cache
obj/Debug/netcoreapp2.2/WHCC-CaseStudy.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/WHCC-CaseStudy.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/WHCC-CaseStudy.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/WHCC-CaseStudy.dll
obj/Debug/netcoreapp2.2/WHCC-CaseStudy.pdb
bin/Debug/netcoreapp2.2/WHCC-CaseStudy.deps.json
bin/Debug/netcoreapp2.2/WHCC-CaseStudy.dll
bin/Debug/netcoreapp2.2/WHCC-CaseStudy.pdb
bin/Debug/netcoreapp2.2/WHCC-CaseStudy.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/WHCC-CaseStudy.runtimeconfig.json
